html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff; color: #222;
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
}

header {
  background-color: #323;
  margin-bottom: 36px;
}

ul {
  list-style-type: none;
  margin: 24px 0;
  line-height: 1.35;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background-color: transparent !important;
}

th, td {
  border: solid 1px #ccc; padding: 6px !important;
  font-size: 1rem !important;
}

a {
  transition: 0.25s;
}

a:link, a:visited {
  color: #c43;
  text-decoration: none;
}

a:hover, a:active {
  color: #c43;
  text-decoration: underline;
}


.sectionTitle {
  font-weight: 600;
}

.titleContainer {
  position: relative;
  height: 6rem;
}

a.title {
  display: block; position: absolute;
  left: 50%;
  bottom: 15%;
  color: #f76;
  font-size: 1.25rem; font-weight: 600;
  text-decoration: none;
  transform: translateX(-50%);
}

a.title:hover, a.title:active {
  color: #c43;
}


h1, h2, h3 {
  color: #c43;
  font-family: Source Sans Pro; font-weight: 300;
}

h1 {
  margin-top: 0;
  font-size: 3rem;
}

h2 { font-size: 1.5rem; }



.article p {
  font-size: 1rem;
}

.date {
  font-size: 0.875rem;
}


ul.tags {
  overflow: hidden;
  padding: 4px 0;
}

ul.tags li {
  display: block; float: left;
}

ul.tags a {
  padding: 4px 8px; margin: 0 2px 2px 0;
  background-color: #666; color: #eee;
  font-size: 0.875rem;
  text-decoration: none;
  border-radius: 2px;
}

ul.tags a:hover, .tags a:active {
  background-color: #c43;
}