html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff; color: #222;
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
}

header {
  background-color: #666;
  margin-bottom: 36px;
}

ul {
  list-style-type: none;
  margin: 24px 0;
  line-height: 1.35;
}

a {
  transition: 0.25s;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}


.sectionTitle {
  font-weight: 600;
}

.titleContainer {
  position: relative;
  height: 6rem;
}

a.title {
  display: block; position: absolute;
  left: 50%;
  bottom: 15%;
  color: #eee;
  font-size: 1.25rem; font-weight: 600;
  text-decoration: none;
  transform: translateX(-50%);
}

a.title:hover, a.title:active {
  color: #9cf;
}



h1 {
  margin-top: 0;  
  color: #369;
  font-family: Source Sans Pro; font-size: 2rem; font-weight: 600;
}

.article p {
  font-size: 1rem;
}

.date {
  font-size: 0.875rem;
}


.tags li {
  display: block; float: left;
}

.tags a {
  padding: 4px 8px; margin: 0 2px 2px 0;
  background-color: #666; color: #eee;
  font-size: 0.875rem;
  text-decoration: none;
}

.tags a:hover, .tags a:active {
  background-color: #369;
}