html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff; color: #222;
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: default;
  text-decoration: underline;
}


header {
  background-color: #369; color: #fff;
}

.titleContainer {
  position: relative;
  height: 4rem;
}

a.title {
  display: block; position: absolute;
  top: 50%;
  color: #fff;
  font-size: 1.5rem; font-weight: 600;
  text-decoration: none;
  transform: translateY(-50%);
}



h1 {  
  color: #369;
  font-family: Source Sans Pro; font-size: 2rem;
}

.article p {
  font-size: 1rem;
}

.aside {
}

.aside ul {
  list-style-type: none;
  margin: 24px 0;
  line-height: 1.3;
}


